
**/__pycache__/
**/.venv
**/dist
**/.coverage
**/coverage.xml
.env
.env.docker
db.sqlite3
**/staticfiles
.ropeproject
todo.txt
poetry.lock.backup
pyproject.toml.backup
logs/
task_manager/logs/
*.log
KODA.md
