{% extends "base.html" %}

{% load django_bootstrap5 %}
{% bootstrap_messages %}
{% load i18n %}

{% block title %}
  {% if is_removing_self %}{% trans "Exit team" %}{% else %}{% trans "Remove team member" %}{% endif %}
{% endblock %}

{% block content %}

<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
    {% if is_removing_self %}{% trans "Exit team" %}{% else %}{% trans "Remove team member" %}{% endif %}
  </h1>
    <form method="post" class="form">
        {% csrf_token %}
        {% if is_removing_self %}
            <p>{% trans "Are you sure you want to exit the team" %} "{{ team.name }}"?</p>
        {% else %}
            <p>{% blocktrans with username=target_user.username team_name=team.name %}Are you sure you want to remove user {{ username }} from the team {{ team_name }}?{% endblocktrans %}</p>
        {% endif %}
        <button type="submit" class="btn btn-danger">
          {% trans "Yes, exit" %}
        </button>
        <a href="{% url 'user:user-list' %}" class="btn btn-secondary">
          {% trans "Cancel" %}
        </a>
    </form>
</div>
{% endblock %}