{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1"> 
    <h1 class="my-4">{% trans "Edit Team" %}</h1>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">
                {% trans "Edit" %}
            </button>
            {% if is_team_admin %}
            <a href="{% url 'teams:team-delete' object.id %}" class="btn btn-danger">
                {% trans "Delete" %}
            </a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}