{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_messages %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    {% if request.user.team %}
        <h2 class="my-4">{% trans "Team" %}
            {% if request.user.is_team_admin %}
                <a href="{% url 'teams:team-update' request.user.team.id %}"> "{{ request.user.team.name }}"</a>
            {% else %}
                "{{ request.user.team.name }}"
            {% endif %}
        </h2>
        <p>{% trans "description" %}: {{ request.user.team.description }}</p>
        <p>{% trans "admin name" %}: {{ request.user.team.team_admin.username }}</p>
        <p>{% trans "created at" %}: {{ request.user.team.created_at }}</p>
    {% endif %}
    <h1 class="my-4">{% trans "Users" %}</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans "User name" %}</th>
            <th>{% trans "Fullname" %}</th>
            <th>{% trans "Team admin" %}</th>
            <th>{% trans "Created at" %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name}} {{ user.last_name }}</td>
                <td>{{ user.is_team_admin }}</td>
                <td>{{ user.date_joined }}</td>
                <td>
                    <a href="{% url 'user:user-update' user.id %}">{% trans "Edit" %}</a>
                    <br>
                    <a href="{% url 'user:user-delete' user.id %}">{% trans "Delete" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}