{% extends "base.html" %}

{% load i18n %}

<html lang="eng-ru">
  <div>
  {% block content %}
    <div class="container wrapper flex-grow-1">
      <h1 class="my-4"></h1>
      <div class="card">
        <div class="card-body p-5 bg-light">
          <div class="d-flex justify-content-center flex-column">
            <div class="display-1 text-center">{{ taskman }}</div>
            <div class="display-5 text-center">{{ manage }}</div>
            <p class="lead text-center">{{ description|safe }}</p>
          </div>
          <hr>
            <h3 id="features">{% trans "Features" %}</h3>
              <ul class="feature-list">
                <li>✅ <strong>{% trans "Individual & Team Use" %}:</strong> {% trans "Perfect for personal workflows or isolated team projects" %}.</li>
                <li>🚀 <strong>{% trans "Task Creation" %}:</strong> {% trans "Add titles, descriptions, and assignees in seconds" %}.</li>
                <li>📊 <strong>{% trans "Custom Statuses" %}:</strong> {% trans "Track progress (e.g., 'To Do', 'In Progress', 'Done')" %}.</li>
                <li>🏷️ <strong>{% trans "Labels" %}:</strong> {% trans "Organize tasks with tags for quick filtering" %}.</li>
                <li>👥 <strong>{% trans "User-Friendly" %}:</strong> {% trans "Register once, manage everything" %}.</li>
              </ul>
            <h3 id="language-support">{% trans "Language Support" %}</h3>
            <ul>
              <li>🇺🇸 <strong>{% trans "English" %}</strong></li>
              <li>🇷🇺 <strong>{% trans "Russian" %}</strong></li>
            </ul>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</html>