{% extends "base.html" %}

{% load i18n %}

<html lang="eng-ru">
  <div>
  {% block content %}
    <div class="container wrapper flex-grow-1">
      <h1 class="my-4"></h1>
      <div class="card">
        <div class="card-body p-5 bg-light">
          <div class="display-4">{{ welcome }}</div>
          <p class="lead">{{ description|safe }}</p>
          <hr>
          <p>Key features include:</p>
            <h3 id="features">Features</h3>
            <ul>
            <li><strong>User Registration</strong>: Users can register to create an account and log in to the Task Manager application.</li>
            <li><strong>Task Creation</strong>: Users can create tasks with details such as title and description.</li>
            <li><strong>Assign Task</strong>: Each task can be assigned to a specific user who will be responsible for completing it.</li>
            <li><strong>Task Status</strong>: Tasks can have various and custom statuses (e.g., To Do, In Progress, Done), making it easy to track progress.</li>
            <li><strong>Labels</strong>: Tasks can be tagged with labels for better organization and filterability.</li>
            </ul>
            <h3 id="language-support">Language Support</h3>
            <p>The Task Manager application is available in two languages:</p>
            <ul>
            <li><strong>English</strong></li>
            <li><strong>Russian</strong></li>
            </ul>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</html>