{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{% trans "Tasks" %}</h1>
    <div class="d-grid gap-2 d-md-block mb-3">
        <a class="btn btn-primary mb-3" href="{% url 'tasks:task-create' %}">{% trans "New task" %}</a>
    </div>

    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="row g-3">
                {% for field in filter.form %}
                <div class="col-12 col-md-6 col-lg-3">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
                {% endfor%}
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">
                        {% trans "Show" %}
                    </button>
                    {% if request.GET.full_view %}
                        <a href="?{% for key, value in request.GET.items %}{% if key != 'full_view' %}{{ key }}={{ value }}&{% endif %}{% endfor %}" class="btn btn-outline-secondary">
                            {% trans "Compact view" %}
                        </a>
                    {% else %}
                        <a href="?{% for key, value in request.GET.items %}{{ key }}={{ value }}&{% endfor %}full_view=1" class="btn btn-outline-secondary">
                            {% trans "Full view" %}
                        </a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="d-none d-md-table-header-group">
            <tr>
                {% if request.GET.full_view %}
                <th>ID</th>
                {% endif %}
                <th>{% trans "Name" %}</th>
                {% if request.GET.full_view %}
                <th>{% trans "Status" %}</th>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Executor" %}</th>
                <th>{% trans "Created at" %}</th>
                <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% for obj in filter.qs %}
                <tr>
                    {% if request.GET.full_view %}
                    <td data-label="ID">{{ obj.id }}</td>
                    {% endif %}
                    <td data-label="{% trans 'Name' %}">
                        <a href="{% url 'tasks:task-detail' obj.id %}">{{ obj.name }}</a>
                    </td>
                    {% if request.GET.full_view %}
                    <td data-label="{% trans 'Status' %}">{{ obj.status }}</td>
                    <td data-label="{% trans 'Author' %}">{{ obj.author.username }}</td>
                    <td data-label="{% trans 'Executor' %}">{{ obj.executor.username }}</td>
                    <td data-label="{% trans 'Created at' %}">{{ obj.created_at }}</td>
                    <td>
                        <div class="btn-group-vertical btn-group-sm" role="group">
                            <a class="btn btn-outline-primary" href="{% url 'tasks:task-update' obj.id %}">{% trans "Edit" %}</a>
                            <br>
                            <a class="btn btn-outline-danger" href="{% url 'tasks:task-delete' obj.id %}">{% trans "Delete" %}</a>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    /* Styles for adaptive table on mobile */
    @media (max-width: 767.98px) {
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        tr {
            display: block;
            margin-bottom: 1rem;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
        }
        
        td {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            border-bottom: 1px solid #dee2e6;
        }
        
        td:before {
            content: attr(data-label);
            font-weight: bold;
            margin-right: 1rem;
        }
        
        td:last-child {
            border-bottom: none;
        }
    }

    @media (min-width: 768px) {
    .d-md-table-header-group {
        display: table-header-group !important;
        }
    }
</style>
{% endblock %}
